/node_modules
/public/hot
/public/storage
/public/js/*.js
/public/css/*.css
/public/mix-manifest.json

/vendor
/.env
/.env.*
Homestead.yaml
Homestead.json
*.log
*.lock
/storage/*.key
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
